@page "/categories"
@inject HttpClient _http


@if(categories == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="container">
        <h3 class="border-bottom p-2">Categories</h3>
        <TreeViewIntDemo Categories="categories" IsToggleCategory="true"></TreeViewIntDemo>

    </div>
}

@code {

    public List<KategoriListesiBilgileri> categories { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Sonuc<List<KategoriListesiBilgileri>> sonuc = await _http.GetFromJsonAsync<Sonuc<List<KategoriListesiBilgileri>>>("api/Category");

        categories = sonuc.data;
    }
}
